<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>Car booking - add user</title>
  </head>
  <body>
    <div class="row">
      <div class="mx-auto col-10 col-md-8 col-lg-6">
        <h1>Add user</h1>
        <form
          th:object="${user}"
          th:action="@{/saveuser}"
          action="#"
          method="post"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              class="form-control"
              type="text"
              id="username"
              th:field="*{username}"
            />
            <br />
            <label for="email">Email</label>
            <input
              class="form-control"
              type="email"
              id="email"
              th:field="*{email}"
            />
            <br />
            <label for="password">Password</label>
            <input
              class="form-control"
              type="password"
              id="password"
              th:field="*{passwordHash}"
            />
            <br />
            <label for="role">Role</label>
            <input
              class="form-control"
              type="text"
              id="role"
              th:field="*{role}"
            />
            <br />
            <input class="btn btn-primary" type="submit" value="Save" />
            <a href="/userlist" class="btn btn-danger">Back</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
