<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>Car booking - user list</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="container text-center">
        <br />
        
        <a
          th:href="@{/userprofile/{id}(id=${currentuser.id})}"
          class="btn btn-primary"
        >
          <span
            style="text-transform: capitalize"
            th:text="${currentuser.username}"
          ></span>
          Profile</a
        >

        <table sec:authorize="hasAuthority('ADMIN')" class="table table-border">
          <tr class="table">
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
            <th></th>
          </tr>
          <tr th:each="user : ${users}">
            <td>
              <a th:href="@{/userprofile/{id}(id=${user.id})}" class="text"
                ><p th:text="${user.username}"></p
              ></a>
            </td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td>
              <a
                th:href="@{/edituser/{id}(id=${user.id})}"
                class="btn btn-primary"
                >Edit</a
              >
            </td>
            <td>
              <a
                th:href="@{/deleteuser/{id}(id=${user.id})}"
                class="btn btn-danger"
              >
                Delete
              </a>
            </td>
          </tr>
        </table>
        <br />
        <a
          sec:authorize="hasAuthority('ADMIN')"
          href="/adduser"
          class="btn btn-success"
          >Add user</a
        >
      </div>
    </section>
  </body>
</html>
