<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>Car booking - user list</title>
  </head>
  <body>
    <div class="container text-center">
      <h1>Users</h1>
      <h3 sec:authentication="name">Bob</h3>
      <table class="table table-bordered table-hover">
        <tr class="table-secondary">
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
        <tr th:each="user : ${users}">
          <td th:text="${user.username}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.role}"></td>
          <td sec:authorize="hasAuthority('ADMIN')">
            <a
              th:href="@{/edituser/{id}(id=${user.id})}"
              class="btn btn-primary"
              >Edit</a
            >
          </td>
          <td sec:authorize="hasAuthority('ADMIN')">
            <a
              th:href="@{/deleteuser/{id}(id=${user.id})}"
              class="btn btn-danger"
            >
              Delete
            </a>
          </td>
        </tr>
      </table>
      <a
        sec:authorize="hasAuthority('ADMIN')"
        href="/adduser"
        class="btn btn-success"
        >Add user</a
      >
      <a
        sec:authorize="hasAuthority('ADMIN')"
        href="/carlist"
        class="btn btn-primary"
        >Cars</a
      >
      <form class="form-inline" th:action="@{/login}">
        <button class="btn btn-success my-2 my-sm-0">Sign in</button>
      </form>
      <form class="form-inline" th:action="@{/logout}" method="post">
        <button class="btn btn-outline-primary my-2 my-sm-0">Sign out</button>
      </form>
    </div>
  </body>
</html>
