<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>Car booking - user</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="container text-center">
        <h4>
          Dear
          <span
            style="text-transform: capitalize"
            th:text="${user.username}"
          ></span
          >, you can view your bookings here.
        </h4>
        <p th:text="'Username: ' + ${user.username}"></p>
        <p th:text="'Email: ' + ${user.email}"></p>
        <table class="table table-borderless">
          <tr>
            <th>Car</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Booking ID</th>
          </tr>
          <tr th:each="booking : ${user.bookings}">
            <td
              th:text="${booking.car.brand} + ' ' + ${booking.car.model}"
            ></td>
            <td th:text="${booking.startDate}"></td>
            <td th:text="${booking.endDate}"></td>
            <td th:text="${booking.bookingId}"></td>
            <td>
              <a
                th:href="@{/deletebooking/{id}(id=${booking.bookingId})}"
                class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
