<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>Car booking - carlist</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="container text-center">
        <h1>Cars</h1>
        <table class="table table-borderless">
          <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th style="width: 1%"></th>
            <th style="width: 1%"></th>
            <th style="width: 1%"></th>
          </tr>
          <tr th:each="car : ${cars}">
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td>
              <a
                th:href="@{/addbooking/{id}(id=${car.carId})}"
                class="btn btn-success"
                >Booking</a
              >
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
              <a
                th:href="@{/editcar/{id}(id=${car.carId})}"
                class="btn btn-primary"
                >Edit</a
              >
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
              <a
                th:href="@{/deletecar/{id}(id=${car.carId})}"
                class="btn btn-danger"
              >
                Delete
              </a>
            </td>
          </tr>
        </table>
        <a
          sec:authorize="hasAuthority('ADMIN')"
          href="/addcar"
          class="btn btn-success"
          >Add car</a
        >
      </div>
    </section>
  </body>
</html>
